.header__buttons__login {
    width: 8rem;
    height: 2.5rem;
    background: #fff;
    border: 1px solid #2A7AE4;
    border-radius: 0.5rem;
    }
    
    .header__buttons__login p {
        font-weight: 500;
        font-size: 1.2rem;
        color: #2A7AE4;
    }
    
    @media  only screen and (min-width: 600px) {
        .header__buttons__login {
            margin-left: 3rem;
            width: 10rem;
            height: 4rem;
        }
    }
    
    @media  only screen and (min-width: 900px) {
        .header__buttons__login {
            margin-left: 0;
            margin-right: 4rem;
            width: 14rem;
            height: 6rem;
        }
    }