.header__buttons__register {
    margin: 0 1rem 1.5rem 2rem;
    width: 7rem;
    height: 2.6rem;
    border: 1px solid #2A7AE4;
    border-radius: 0.5rem;
    display: none;
    }
    
    .header__buttons__register p {
        font-weight: 500;
        font-size: 1.2rem;
        color: #2A7AE4;
        display: none;
    }
    
    @media  only screen and (min-width: 600px) {
        .header__buttons__register {
            margin-left: 3rem;
            width: 10rem;
            height: 4rem;
            display: block;
        }
    }
    
    @media  only screen and (min-width: 900px) {
        .header__buttons__register {
            margin-left: 0;
            margin-right: 4rem;
            width: 14rem;
            height: 6rem;
            display:block;
        }
    }